* {
	text-decoration: none;
	margin:  0;
	padding:  0;
}

div {
	padding:   4em;
}
.main-container {
	background:  lightgreen;
	position: relative;
}
.inner-container {
	background:  lightblue;
}
.content-container {
	background:  lightcoral;
	display: flex;
	justify-content: space-around;

}

.content-container div {
	background:  purple;
	color:  white;
}