* {
	text-decoration: none;
	margin:  0;
	padding:  0;
}

ul li {
	padding:  .5em 0;
	list-style:  none;
}

.lightgrey {
	background:  lightgrey;
}
p {
	cursor:  pointer;
}

.dropdownmenu {
	display: none;
	border-top:  2px solid red;
	background:  white;

}

.card {
	width:  20%;
	position: relative;
}